<template>
    <div class="grid-container">
        <div class="item1">
            <h2>Here you can login or sign up for a bachelor thesis or a
                intership position at NTNU.
            </h2>   
            <form>
                <router-link :to="{ name: 'Login'}"> <button type="submit" name="logIn">Log In</button> </router-link>
            </form>
            <form>
                <button type="submit" name="signUp">Sign Up</button>
            </form>
        </div>
        <div class="item2">
            <img src="@/assets/ntnu_logo_full.png" alt="NTNU logo full">
        </div>
    </div>
</template>

<script>
    export default {
        name: "home",
    }
</script>

<style scoped>
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    max-width: 800px;
    margin: 0 auto;
}

.item1 {
    grid-column: 1/3;
    margin: 10%;
}

button[name="logIn"] {
    float: left;
}

button[name="signUp"] {
    float: left;
}

button[type="submit"] {
  background: #00509E;
  margin: 2%;
  width: 5em;
  color: white;
  font-size: 110%;
}

.item2 {
    grid-column: 3/5;
}

img {
    width: 150%;
}
</style>