<template>
    <div class="body">
        <div class="menu-container">
            <ul class="inbox-menu">
                <li><img src="@/assets/icons/icons8-composing-mail-48.png">Compose</li>
                <li><img src="@/assets/icons/icons8-important-mail-48.png">Inbox</li>
                <li><img src="@/assets/icons/icons8-sent-48.png">Sent</li>
                <li><img src="@/assets/icons/icons8-conclusion-contract-48.png">Contracts</li>
                <li><img src="@/assets/icons/icons8-trash-48.png">Trash</li>
            </ul>
        </div>
        <div>
        </div>
        <footer>
            Icons by <a target="_blank" href="https://icons8.com">Icons8</a>
        </footer>
    </div>
</template>

<script>
export default {
    name: "Inbox"
    
}
</script>

<style scoped>
.menu-container {
    background: lightgrey;
    max-width: 25%;
}

.inbox-menu li {
    list-style-type: none;
    border-bottom: solid;
    border-width: 1px;
}

.inbox-menu li:hover {
    transform: scale(1.01);
}

.inbox-menu img{
    max-width: 15px;
}


</style>