<!--
*   @desc Component-view for displaying information about a internship position element.
*   @param id for db item
*   @return item object and path for axios api request method
-->
<template>
  <div class="body">
    <div class="event-header">
      <!-- Getting and displaying values from db element -->
      <h1 class="title">{{ item.companyName }}</h1>
      <h5>Company ID: {{ item.id }}</h5>
      <h5>Feild: {{ item.companyField }}</h5>
      <address>Location: {{ item.location }}</address>
    </div>
    <h2>{{ item.headline }}</h2>
    <p>{{ item.description }}</p>
    <ul class="list-group">
      <!-- looping through content of nested array within db element with id id -->
      <li v-for="(rep, index) in item.rep" :key="index" class="list-item">
        <p>
          <b>{{ rep.name }}</b>
          - {{ rep.role }}
        </p>
      </li>
    </ul>
    <router-link :to="{ name: 'StudIntList' }"><button>Back</button></router-link>
  </div>
</template>

<script>
// Importing the axios API request
import ItemService from "@/services/ItemService.js";
export default {
  props: ["id"],
  data() {
    return {
      item: {},
      path: "/internships/"
    };
  },
  created() {
    // getItem function requesting db info using axios from ItemService.js
    ItemService.getItem(this.path, this.id)
      .then(respose => {
        this.item = respose.data; // Store response in data
      })
      .catch(error => {
        console.log("There was an error: ", error.respose);
      });
  }
};
</script>

<!-- Scoped styling for the navbar component -->
<style scoped>
.list-group {
        margin: 0;
        padding: 1em 0;
        list-style: none;
    }

.body{
  max-width: 800px;
  margin: 0 auto;
}

template{
  text-align: center;
  margin: 0;
  padding: 1em 0;
  list-style: none;
}
</style>