<!--
*   @desc View-component displaying a signup-form
*
-->

<template>
  <div>
    <div class="container">
      <div class="header">
        <h2>Login</h2>
      </div>
      <form>
        <input type="email" name="emailuid" placeholder="Email.." required />
        <input type="password" name="password" placeholder="Password.." required />
        <button type="submit" name="login-submit">Login</button>
      </form>
      <p>
        <!-- Router link to signup view-component-->
        <router-link :to="{ name: 'Signup' }">Signup</router-link>
      </p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.container {
  max-width: 500px;
  align-content: center;
  margin: auto;
  margin-top: 4rem;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  text-align: left;
}
/* Style the submit button with a specific background color etc */
button {
  width: auto;
  background-color: #00509e;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
/* When moving the mouse over the submit button, add a darker green color */
button[type="submit"]:hover {
  background-color: #45a049;
}
</style>