<template>
    <div class="container">
    <h1>Suggest a bachelor thesis or internship position.</h1>
    <form action="#" method="#">
        <input type="radio" value="internship" id="internship" name="selectProgramme"> 
        <label for="internship">Internship Position</label>
        <div class="bachelor">
            <input type="radio" value="bachelor" id="bachelor" name="selectProgramme">
            <label for="bachelor">Bachelor Thesis</label>
        </div>
      <input type="text" name="companyName" id="companyName" placeholder="Company Name" />
      <input type="text" name="studyArea" id="studyArea" placeholder="Study Area" />
      <textarea name="assignmentText" id="assignmentText" placeholder="Assignment Text" />
      <textarea name="companyContactInfo" id="companyContactInfo" placeholder="Company Contact Information" />
      <input type="text" name="submittetBy" id="submittedBy" placeholder="Submitted By">
      <button v-bind:disabled="!formIsValid" type="submit" name="form-submit">Submit</button>
      <button type="reset" name="form-reset" style="margin-right: 5px;">Reset</button>
    </form>
    <p>
        Please include at least name, phone number and email adress for the contactperson within the company
    </p>
  </div>
</template>

<script>
export default {
    name: "RegisterForm",

    computed: {
        formIsValid: function() {
            return this.companyName && this.studyArea && this.assignmentText 
            && this.companyContactInfo && this.submittedBy;
        }
    },

}
</script>

<style scoped>
.bachelor {
    float: right;
}

p{
    max-width: 75%;
}

</style>