<!--
*
* View-component displaying a signup-form
* 
-->
<template>
  <div class="container">
    <h1>User signup</h1>
    <form action="#" method="#">
      <input type="email" name="emailuid" placeholder="Email.." />
      <input type="text" name="fname" placeholder="First name.." />
      <input type="text" name="lname" placeholder="Last name.." />
      <input type="password" name="password_1" placeholder="Password.." />
      <input type="password" name="password_2" placeholder="Repeat password.." />
      <button type="submit" name="signup-submit">Signup</button>
    </form>
    <p>
      Already a member?
      <router-link :to="{ name: 'Login' }">Login</router-link>
    </p>
    <p>Do you represent a company that want's to use this service?</p>
    <p>
      <a href="#">Contact</a> us for a company signup link
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
/* Styling for this view is global i App.vue */
 
</style>