<!--
*   @desc Component-view for displaying information about a internship position element.
*   @param id for db item
*   @return item object and path for axios api request method
-->
<template>
  <div class="body">
    <span>
      <p>
        Here you can select your 3 preferred bachelor theses.
        Select the drag down menu to the right of the assignment you
        want and then 1-3 based on wich assignment you want the most
      </p>
    </span>
    <router-link :to="{ name: 'RegisterForm'}"><button type="button">Suggest Bachelor Thesis</button></router-link>
    <h1>Bachelor theses for {{ new Date().getFullYear() }} </h1>
    <!-- looping through each element in theses array db sand display results in ItemCard component -->
    <ItemCard v-for="item in theses" :key="item.id" :item="item" :routeName="pathName" />
    
  </div>
</template>

<script>
// importing ItemCard component and API requests functions from ItemService
import ItemCard from "@/components/ItemCard.vue";
import ItemService from "@/services/ItemService.js";

export default {
  components: {
    ItemCard
  },
  data() {
    return {
      theses: [],
      path: "/theses"
    };
  },
  created() {
    // getItem function requesting db info using axios from ItemService.js
    ItemService.getItems(this.path)
      .then(response => {
        this.theses = response.data;
      })
      .catch(error => {
        console.log("There was an error: " + error);
      });
  },
  computed: {
    pathName() {
      return this.$store.state.routeName.bachelorPath;
    }
  },
};
</script>

<!-- Scoped styling for the navbar component -->
<style scoped>
h1 {
  text-align: center;
}
p {
  font-size: 20px;
}

button{
  background: #00509E;
  padding: 1%;
  color: white;
  font-size: 110%;
}

button:hover {
    cursor: pointer;
    background: rgb(0, 57, 114);
    transform: scale(1.02);
}

.body{
  max-width: 800px;
  margin: 0 auto;
}

template{
  text-align: center;
}
</style>