<template>
  <div class="body">
    <span>
      <p>Here is a list of companies that were in the x-round of speed dating {{new Date().getFullYear()}}</p>
      <p>{{ pathName }}</p>
    </span>
        <router-link :to="{ name: 'RegisterForm'}"><button type="button">Suggest Intership Position</button></router-link>
    <h1>Internships for {{new Date().getFullYear()}}</h1>
    <!-- looping through each element in internships array db sand display results in ItemCard component -->
    <ItemCard v-for="item in internships" :key="item.id" :item="item" :routeName="pathName" />

  </div>
</template>

<script>
// importing ItemCard component and API requests functions from ItemService
import ItemCard from "@/components/ItemCard.vue";
import ItemService from "@/services/ItemService.js";

export default {
  components: {
    ItemCard
  },
  data() {
    return {
      internships: [],
      path: "/internships"
    };
  },
  created() {
    // getItem function requesting db info using axios from ItemService.js
    ItemService.getItems(this.path)
      .then(response => {
        this.internships = response.data;
      })
      .catch(error => {
        console.log("There was an error: " + error);
      });
  },
  computed: {
    pathName() {
      return this.$store.state.routeName.internshipPath;
    }
  }
};
</script>

<!-- Scoped styling for the navbar component -->
<style scoped>
h1 {
  text-align: center;
}
p {
  font-size: 20px;
}

button{
  background: #00509E;
  padding: 1%;
  color: white;
  font-size: 110%;
}

button:hover {
    cursor: pointer;
    background: rgb(0, 57, 114);
    transform: scale(1.02);
}

.body{
  max-width: 800px;
  margin: 0 auto;
}

template{
  text-align: center;
}
</style>