<!--
*   @desc Component for showing 'cards' previewing bachelor theses and inetnships in a list
*   @param object item - an object displaying item from 'database' containing bachelor theses and intenship positions
*   @return icon for companies 
-->

<template>
  <!-- Router link with param of id. When clicked displays conntent of db element with that id -->
  <router-link class="item-link" :to="{ name: routeName, params: { id: item.id } }">
    <div class="item-card -shadow">
      <div class="left">
        <img :src="image" width="100px" height="100px" />
      </div>
      <div class="middle">
        <span class="eyebrow">
          <!-- Getting and displaying values from db element -->
          <h4>{{ item.companyName }}</h4>
        </span>
        <h4>Company ID: {{ item.id }}</h4>
        <h4>Field: {{ item.companyField }}</h4>
      </div>
      <div class="right">
        <h4>{{ item.headline }}</h4>
        <p>{{ item.description }}</p>
        <p id="readMore">Click to read more</p>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  props: {
    item: Object,
    routeName: String
  },
  data() {
    return {
      image: require("@/assets/userIcon.png")
    };
  }
};
</script>

<!-- Scoped styling for the navbar component -->
<style scoped>
.item-card {
  height: 150px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 24px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: 2px solid white;
}
.item-card:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
}
.item-link {
  color: black;
  text-decoration: none;
  font-weight: 100;
}
.left {
  float: left;
  width: 150px;
  margin-top: 25px;
}
.middle {
  float: left;
  width: 250px;
}
.right {
  float: left;
  width: 300px;
}
.right > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#readMore {
  float: right;
}
</style>