<!--
*
*   @desc Nav-bar component displaying navigation in the header globaly
*
-->

<template>
    <div id="nav" class="nav">
        <nav>
            <router-link :to="{ name: 'Home' }">Home</router-link> |
            <router-link :to="{ name: 'StudBachList' }">Student Bachelor List</router-link> |
            <router-link :to="{ name: 'StudIntList' }">Student Internship List</router-link> |
            <router-link :to="{ name: 'Login' }">Login</router-link> |
            <router-link :to="{ name: 'Signup' }">Signup</router-link> | 
            <router-link :to="{ name: 'bachelorContract'}">Bachelor Contract</router-link> |
            <router-link :to="{ name: 'internshipContract'}">Internship Contract</router-link>
        </nav>
        <router-link :to="{ name: 'Inbox'}">
            <img  src="@/assets/icons/icons8-bell-48.png">
        </router-link>
        <router-link id="smallLogo" :to="{ name: 'Home' }">
          <img :src="image" alt="ntnu logo" id="logo">
          </router-link>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                image: require('@/assets/ntnu_logo_icon.png') // Logo image displayed in header with navigation
            }
        }
    };
</script>

<!-- Scoped styling for the navbar component -->
<style scoped>
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-left: 200px;
}
.nav > .brand {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #00509E;
    text-decoration: none;
}

.nav .nav-item {
    box-sizing: border-box;
    margin: 0 5px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
.nav .nav-item.router-link-exact-active {
    color: #00509E;
    border-bottom: solid 2px #00509E;
}
#logo {
    position: absolute;
    top: 15px;
    right: 25px;
}
#smallLogo img {
    height: 100px;
    width: 100px;
}
</style>