<template>
  <div id="app">
    <NavBar />
    <router-view/>
  </div>
</template>

<script>
import NavBar from '@/components/NavBar.vue';

export default {
  components: {
    NavBar
  },
}
</script>


<style>
/* Global css styling for views and components */

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

#app {
  box-sizing: border-box;
  padding: 0 20px 20px;
  margin: 0 auto;
}

.container {
  width: 50%;
  align-content: center;
  margin: auto;
  margin-top: 4rem;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  text-align: left;
}
button {
  width: auto;
  background-color: #00509e;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button:hover {
    cursor: pointer;
    background: rgb(0, 57, 114);
    transform: scale(1.02);
}


hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
a {
  color: #00509E;
  font-weight: 600;
  background-color: transparent;
}
.-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);
}
.eyebrow {
  font-size: 20px;
}


</style>
